
body {
  background-color: #181216;
  margin: 0;
  height: 100%;
}

h1 {
    color: #f4b2e2;
    text-align: center;
    font-family: "Google Sans Flex", sans-serif;
    font-optical-sizing: auto;
    font-weight: 650;
    font-style: normal;
    font-size: 200%;
    line-height: 1.5em;
    font-variation-settings:
        "slnt" 0,
        "wdth" 100,
        "GRAD" 45,
        "ROND" 80;
}

.socials-container {
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.social-button {
  background-color: #493643;
  border: none;
  color: #dcbed1;
  text-align: center;
  text-decoration: none;
  font-size: 150%;
  cursor: pointer;
  border-radius: 50px;
  font-family: "Google Sans Flex", sans-serif;
  font-optical-sizing: auto;
  font-weight: 650;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "wdth" 100,
    "GRAD" 22,
    "ROND" 80;
  display: block;
  padding: 28px 38px;
  width: 90%;
  display: block;
  margin: auto;
  cursor: pointer;
}

p.hide
{
  color:#181216;
  font-size:20px;
}

.text-focus-in{animation:text-focus-in .7s cubic-bezier(.55,.085,.68,.53)}
@keyframes text-focus-in{0%{filter:blur(12px);opacity:0}100%{filter:blur(0);opacity:1}}

.background {
    background-color: #181216;
    height: 100vh; 
    background-size: cover;
    background-position: center;
}

a {
  text-decoration: none;
}
